<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- start nojs content -->
    <noscript>
      <div id="nojs" class="container"><p><strong>Sorry</strong> but you must have <a href="http://enable-javascript.com/" target="_blank">Javascript</a> <em>enabled</em> to view this page.</p></div>
    </noscript>
    <!-- end nojs content -->

    <!-- start application div -->
    <div id="AppContainer" hidden><%= body %></div>
    <!-- end application div -->

    <script type="text/javascript">
      document.getElementById('AppContainer').removeAttribute('hidden');
    </script>

    <script src="/js/jquery<%= ugly %>"></script>
    <script src="/js/bootstrap<%= ugly %>"></script>
    <script src="/js/react<%= ugly %>"></script>
    <script src="/<%= script %>"></script>

  </body>
</html>
